<!DOCTYPE html>
<html>
<head lang="en">
<% include head %>
</head>
<body>
<% include side-nav %>
<div id="main">
<% include header-nav %>
<div class="container-fluid">
<section id="main-content">

    <div style="width:40%">
    <h3><%=resource.Title%></h3>
    <form class="form-horizontal" action="/newMsbSubscriber" method="post">
        <table class="table table-striped">
            <tr class="heading-tr">
                <th><%=resource.Heading%></th>
                <th style="text-align:right"><%=statusMessage%></th>
            </tr>
            <tr>
                <td><%=resource.Subscriber.label%></td>
                <td><input type="text" class="form-control" name="subscriber" value="<%=record.subscriber%>"/></td>
            </tr><tr>
                <td><%=resource.Password.label%></td>
                <td><input type="text" class="form-control" name="password" value="<%=record.password%>"/></td>
            </tr><tr>
                <td><%=resource.Name.label%></td>
                <td><input type="text" class="form-control" name="name" value="<%=record.name%>"/></td>
            </tr><tr>
                <td><%=resource.Email.label%></td>
                <td><input type="text" class="form-control" name="email" value="<%=record.email%>"/></td>
            </tr><tr>
                <td><%=resource.Creationdate.label%></td>
                <td><input type="text" class="form-control" name="creationdate" value="<%=record.creationdate%>"/></td>
            </tr><tr>
                <td><%=resource.Modificationdate.label%></td>
                <td><input type="text" class="form-control" name="modificationdate" value="<%=record.modificationdate%>"/></td>
            </tr><tr>
                <td><%=resource.Subtype.label%></td>
                <td><input type="text" class="form-control" name="subtype" value="<%=record.subtype%>"/></td>
            </tr><tr>
                <td><%=resource.Account.label%></td>
                <td><input type="text" class="form-control" name="account" value="<%=record.account%>"/></td>
            </tr><tr>
                <td><%=resource.Userkey.label%></td>
                <td><input type="text" class="form-control" name="userkey" value="<%=record.userkey%>"/></td>
            </tr>
        
        </table>
        <button type="submit" class="btn btn-default">Add</button>
        <% if(statusCode == 200) { %>
        <button type="button" class="btn btn-default"><a href="/<%=session.previouspath%>">Back</a></button>
        <% }else{ %>
        <button type="button" class="btn btn-default" onclick="javascript:window.history.back()">Cancel</button>
        <% } %>
    </form>
    </div>

</section>
</div>
</div>
<% include footer %>
</body>
</html>
