<!DOCTYPE html>
<html>
<head lang="en">
<% include head %>
</head>
<body>
<% include side-nav %>
<div id="main">
<% include header-nav %>
<div class="container-fluid">
<section id="main-content">

<form class="form-horizontal" action="/searchMsbSession" method="get">    
    <div style="width:50%">
    <h3><%=resource.Title%></h3>
        <input type="hidden" class="form-control" name="rowid" value="0"/>    
        <table class="table table-striped">
            <tr class="heading-tr">
                <th><%=resource.Heading%></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td><%=resource.Sessionid.label%></td>    
                <td><input type="text" class="form-control" name="sessionId"/></td>
                <td>
                    <button type="submit" name="action" value="first" class="btn btn-default">Find</button>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <button type="submit" class="btn btn-default"><a href="/newMsbSession">Add</a></button>
                    <% } %>
                </td>
            </tr>
        </table>    
    </div>
    
    <div style="width:75%">
        <table class="table table-striped">
            <tr class="heading-tr">
                <th><%=resource.MsbSession.Sessionid.header%></th>
                <th><%=resource.MsbSession.Subscriber.header%></th>
                <th><%=resource.MsbSession.Domain.header%></th>
                <th><%=resource.MsbSession.Ipaddress.header%></th>
                <th><%=resource.MsbSession.Ipport.header%></th>
                <th><%=resource.MsbSession.Protocol.header%></th>
                <th><%=resource.MsbSession.Starttime.header%></th>
                <th><%=resource.MsbSession.Endtime.header%></th>
                <!--th><%=resource.MsbSession.Resource.header%></th-->
                <th><%=resource.MsbSession.Presence.header%></th>
                <th><%=resource.MsbSession.Status.header%></th>
                
            	<th>View</th>
                <% if(session.user_acl=='ROLE_ADMIN') { %>
                <th>Edit</th>
                <th>Delete</th>
                <% } %>
            </tr>
            <% for(var i in records){let row = records[i]; %>			            
            <tr>
                <td><a><%=row.sessionId%></a></td>
                <td><a><%=row.subscriber%></a></td>
                <td><a><%=row.domain%></a></td>
                <td><a><%=row.ipAddress%></a></td>
                <td><a><%=row.ipPort%></a></td>
                <td><a><%=row.protocol%></a></td>
                <td><a><%=row.startTime%></a></td>
                <td><a><%=row.endTime%></a></td>
                <!--td><a><%=row.resource%></a></td-->
                <td><a><%=row.presence%></a></td>
                <td><a><%=row.status%></a></td>
                
                <td><a href="/readMsbSession?sessionid=<%=row.sessionId%>"><span class="glyphicon glyphicon-open"></span></a></td>
                <% if(session.user_acl=='ROLE_ADMIN') { %>
                <td><a href="/writeMsbSession?sessionid=<%=row.sessionId%>"><span class="glyphicon glyphicon-edit"></span></a></td>
                <td><a href="/deleteMsbSession?sessionid=<%=row.sessionId%>"><span class="glyphicon glyphicon-trash"></span></a></td>
                <% } %>
            </tr>
            <% } %>            
        </table>
        
        <div class="table-pagination">
           <ul class="pagination">
                 <li><button type="submit" name="action" value="first" class="btn btn-default">First</button></li>
                 <li><button type="submit" name="action" value="previous" class="btn btn-default">Previous</button></li>
                 <li><button type="submit" name="action" value="next" class="btn btn-default">Next</button></li>
                 <li><button type="submit" name="action" value="last" class="btn btn-default">Last</button></li>
           </ul>	        
        </div>
    </div>
</form>                

</section>
</div>
</div>
<% include footer %>
</body>
</html>
