<!DOCTYPE html>
<html>
<head lang="en">
<% include head %>
</head>
<body>
<% include side-nav %>
<div id="main">
<% include header-nav %>
<div class="container-fluid">
<section id="main-content">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><h4><%=resource.Heading%></h4></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="msbMucmember-tab" data-toggle="tab" href="#msbMucmember" role="tab" aria-controls="msbMucmember" aria-selected="true"><h4><%=resource.MsbMucmember.Heading%></h4></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="msbOffline-tab" data-toggle="tab" href="#msbOffline" role="tab" aria-controls="msbOffline" aria-selected="true"><h4><%=resource.MsbOffline.Heading%></h4></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="msbPresence-tab" data-toggle="tab" href="#msbPresence" role="tab" aria-controls="msbPresence" aria-selected="true"><h4><%=resource.MsbPresence.Heading%></h4></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="msbRevenue-tab" data-toggle="tab" href="#msbRevenue" role="tab" aria-controls="msbRevenue" aria-selected="true"><h4><%=resource.MsbRevenue.Heading%></h4></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="msbRoster-tab" data-toggle="tab" href="#msbRoster" role="tab" aria-controls="msbRoster" aria-selected="true"><h4><%=resource.MsbRoster.Heading%></h4></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="msbSession-tab" data-toggle="tab" href="#msbSession" role="tab" aria-controls="msbSession" aria-selected="true"><h4><%=resource.MsbSession.Heading%></h4></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="msbSubscriberprop-tab" data-toggle="tab" href="#msbSubscriberprop" role="tab" aria-controls="msbSubscriberprop" aria-selected="true"><h4><%=resource.MsbSubscriberprop.Heading%></h4></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="msbTraffic-tab" data-toggle="tab" href="#msbTraffic" role="tab" aria-controls="msbTraffic" aria-selected="true"><h4><%=resource.MsbTraffic.Heading%></h4></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="msbVcard-tab" data-toggle="tab" href="#msbVcard" role="tab" aria-controls="msbVcard" aria-selected="true"><h4><%=resource.MsbVcard.Heading%></h4></a>
      </li>
    </ul>
    
    <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade in active" id="home" role="tabpanel" aria-labelledby="home-tab">	
            <div style="width:40%">
            <form class="form-horizontal">
                <table class="table table-striped">
                    <tr class="heading-tr">
                        <th> <%=resource.Heading%></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><%=resource.Subscriber.label%></td>
                        <td><%=record.subscriber%></td>						
                    </tr><tr>
                        <td><%=resource.Password.label%></td>
                        <td><%=record.password%></td>						
                    </tr><tr>
                        <td><%=resource.Name.label%></td>
                        <td><%=record.name%></td>						
                    </tr><tr>
                        <td><%=resource.Email.label%></td>
                        <td><%=record.email%></td>						
                    </tr><tr>
                        <td><%=resource.Creationdate.label%></td>
                        <td><%=record.creationDate%></td>						
                    </tr><tr>
                        <td><%=resource.Modificationdate.label%></td>
                        <td><%=record.modificationDate%></td>						
                    </tr><tr>
                        <td><%=resource.Subtype.label%></td>
                        <td><%=record.subtype%></td>						
                    </tr><tr>
                        <td><%=resource.Account.label%></td>
                        <td><%=record.account%></td>						
                    </tr><tr>
                        <td><%=resource.Userkey.label%></td>
                        <td><%=record.userKey%></td>						
                    </tr>
                
                </table>
                <% if(session.user_acl=='ROLE_ADMIN') { %>
                <button type="submit" class="btn btn-default"><a href="/writeMsbSubscriber?subscriber=<%=record.subscriber%>">Edit</a></button>
                <button type="submit" class="btn btn-default"><a href="/deleteMsbSubscriber?subscriber=<%=record.subscriber%>">Delete</a></button>
                <% } %>
                <button type="button" class="btn btn-default" onclick="javascript:window.history.back()">Back</button>
            </form>
            </div>
        </div>
        
	<div class="tab-pane fade" id="msbMucmember" role="tabpanel" aria-labelledby="msbMucmember-tab">
            <div style="width:75%">
            <table class="table table-striped">
                <tr class="heading-tr">
                    <th><%=resource.MsbMucmember.Roomid.header%></th>
                    <th><%=resource.MsbMucmember.Jid.header%></th>
                    <th><%=resource.MsbMucmember.Subscriber.header%></th>
                    <th><%=resource.MsbMucmember.Nickname.header%></th>
                    <th><%=resource.MsbMucmember.Firstname.header%></th>
                    <th><%=resource.MsbMucmember.Lastname.header%></th>
                    <th><%=resource.MsbMucmember.Url.header%></th>
                    <th><%=resource.MsbMucmember.Email.header%></th>
                    <th><%=resource.MsbMucmember.Faqentry.header%></th>
                                        
                    <th>View</th>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <th>Edit</th>
                    <th>Delete</th>
                    <% } %>
                </tr>
                <% for(let i in record.msbMucmember){ let rec = record.msbMucmember[i] %>
                <tr>
                    <td><a><%=rec.roomID%></a></td>
                    <td><a><%=rec.jid%></a></td>
                    <td><a><%=rec.subscriber%></a></td>
                    <td><a><%=rec.nickname%></a></td>
                    <td><a><%=rec.firstName%></a></td>
                    <td><a><%=rec.lastName%></a></td>
                    <td><a><%=rec.url%></a></td>
                    <td><a><%=rec.email%></a></td>
                    <td><a><%=rec.faqentry%></a></td>
                    
                    <td><a href="/readMsbMucmember?roomid=<%=rec.roomID%>"><span class="glyphicon glyphicon-open"></span></a></td>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <td><a href="/writeMsbMucmember?roomid=<%=rec.roomID%>"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a href="/deleteMsbMucmember?roomid=<%=rec.roomID%>"><span class="glyphicon glyphicon-trash"></span></a></td>
                    <% } %>
                </tr>
                <% } %>
            </table>        
	    <button type="submit" class="btn btn-default"><a href="/newMsbMucmember">Add</a></button>
	    <button type="submit" class="btn btn-default">Clear</button>
	    </div>	    
        </div>            
        
	<div class="tab-pane fade" id="msbOffline" role="tabpanel" aria-labelledby="msbOffline-tab">
            <div style="width:75%">
            <table class="table table-striped">
                <tr class="heading-tr">
                    <th><%=resource.MsbOffline.Subscriber.header%></th>
                    <th><%=resource.MsbOffline.Messageid.header%></th>
                    <th><%=resource.MsbOffline.Creationdate.header%></th>
                    <th><%=resource.MsbOffline.Messagesize.header%></th>
                    <th><%=resource.MsbOffline.Stanza.header%></th>
                                        
                    <th>View</th>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <th>Edit</th>
                    <th>Delete</th>
                    <% } %>
                </tr>
                <% for(let i in record.msbOffline){ let rec = record.msbOffline[i] %>
                <tr>
                    <td><a><%=rec.subscriber%></a></td>
                    <td><a><%=rec.messageID%></a></td>
                    <td><a><%=rec.creationDate%></a></td>
                    <td><a><%=rec.messageSize%></a></td>
                    <td><a><%=rec.stanza%></a></td>
                    
                    <td><a href="/readMsbOffline?subscriber=<%=rec.subscriber%>"><span class="glyphicon glyphicon-open"></span></a></td>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <td><a href="/writeMsbOffline?subscriber=<%=rec.subscriber%>"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a href="/deleteMsbOffline?subscriber=<%=rec.subscriber%>"><span class="glyphicon glyphicon-trash"></span></a></td>
                    <% } %>
                </tr>
                <% } %>
            </table>        
	    <button type="submit" class="btn btn-default"><a href="/newMsbOffline">Add</a></button>
	    <button type="submit" class="btn btn-default">Clear</button>
	    </div>	    
        </div>            
        
	<div class="tab-pane fade" id="msbPresence" role="tabpanel" aria-labelledby="msbPresence-tab">
            <div style="width:75%">
            <table class="table table-striped">
                <tr class="heading-tr">
                    <th><%=resource.MsbPresence.Subscriber.header%></th>
                    <th><%=resource.MsbPresence.Offlinepresence.header%></th>
                    <th><%=resource.MsbPresence.Offlinedate.header%></th>
                                        
                    <th>View</th>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <th>Edit</th>
                    <th>Delete</th>
                    <% } %>
                </tr>
                <% for(let i in record.msbPresence){ let rec = record.msbPresence[i] %>
                <tr>
                    <td><a><%=rec.subscriber%></a></td>
                    <td><a><%=rec.offlinePresence%></a></td>
                    <td><a><%=rec.offlineDate%></a></td>
                    
                    <td><a href="/readMsbPresence?subscriber=<%=rec.subscriber%>"><span class="glyphicon glyphicon-open"></span></a></td>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <td><a href="/writeMsbPresence?subscriber=<%=rec.subscriber%>"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a href="/deleteMsbPresence?subscriber=<%=rec.subscriber%>"><span class="glyphicon glyphicon-trash"></span></a></td>
                    <% } %>
                </tr>
                <% } %>
            </table>        
	    <button type="submit" class="btn btn-default"><a href="/newMsbPresence">Add</a></button>
	    <button type="submit" class="btn btn-default">Clear</button>
	    </div>	    
        </div>            
        
	<div class="tab-pane fade" id="msbRevenue" role="tabpanel" aria-labelledby="msbRevenue-tab">
            <div style="width:75%">
            <table class="table table-striped">
                <tr class="heading-tr">
                    <th><%=resource.MsbRevenue.Subscriber.header%></th>
                    <th><%=resource.MsbRevenue.Account.header%></th>
                    <th><%=resource.MsbRevenue.From.header%></th>
                    <th><%=resource.MsbRevenue.To.header%></th>
                    <th><%=resource.MsbRevenue.Debit.header%></th>
                    <th><%=resource.MsbRevenue.Credit.header%></th>
                    <th><%=resource.MsbRevenue.Description.header%></th>
                    <th><%=resource.MsbRevenue.Activity.header%></th>
                    <th><%=resource.MsbRevenue.Datetime.header%></th>
                    <th><%=resource.MsbRevenue.Status.header%></th>
                                        
                    <th>View</th>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <th>Edit</th>
                    <th>Delete</th>
                    <% } %>
                </tr>
                <% for(let i in record.msbRevenue){ let rec = record.msbRevenue[i] %>
                <tr>
                    <td><a><%=rec.subscriber%></a></td>
                    <td><a><%=rec.account%></a></td>
                    <td><a><%=rec.from%></a></td>
                    <td><a><%=rec.to%></a></td>
                    <td><a><%=rec.debit%></a></td>
                    <td><a><%=rec.credit%></a></td>
                    <td><a><%=rec.description%></a></td>
                    <td><a><%=rec.activity%></a></td>
                    <td><a><%=dateFormat(rec.dateTime,'mmm-dd-yyyy h:MM:ss TT')%></a></td>
                    <td><a><%=rec.status%></a></td>
                    
                    <td><a href="/readMsbRevenue?subscriber=<%=rec.subscriber%>"><span class="glyphicon glyphicon-open"></span></a></td>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <td><a href="/writeMsbRevenue?subscriber=<%=rec.subscriber%>"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a href="/deleteMsbRevenue?subscriber=<%=rec.subscriber%>"><span class="glyphicon glyphicon-trash"></span></a></td>
                    <% } %>
                </tr>
                <% } %>
            </table>        
	    <button type="submit" class="btn btn-default"><a href="/newMsbRevenue">Add</a></button>
	    <button type="submit" class="btn btn-default">Clear</button>
	    </div>	    
        </div>            
        
	<div class="tab-pane fade" id="msbRoster" role="tabpanel" aria-labelledby="msbRoster-tab">
            <div style="width:75%">
            <table class="table table-striped">
                <tr class="heading-tr">
                    <th><%=resource.MsbRoster.Rosterid.header%></th>
                    <th><%=resource.MsbRoster.Subscriber.header%></th>
                    <th><%=resource.MsbRoster.Jid.header%></th>
                    <th><%=resource.MsbRoster.Sub.header%></th>
                    <th><%=resource.MsbRoster.Ask.header%></th>
                    <th><%=resource.MsbRoster.Recv.header%></th>
                    <th><%=resource.MsbRoster.Nick.header%></th>
                    <th><%=resource.MsbRoster.Key.header%></th>
                                        
                    <th>View</th>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <th>Edit</th>
                    <th>Delete</th>
                    <% } %>
                </tr>
                <% for(let i in record.msbRoster){ let rec = record.msbRoster[i] %>
                <tr>
                    <td><a><%=rec.rosterID%></a></td>
                    <td><a><%=rec.subscriber%></a></td>
                    <td><a><%=rec.jid%></a></td>
                    <td><a><%=rec.sub%></a></td>
                    <td><a><%=rec.ask%></a></td>
                    <td><a><%=rec.recv%></a></td>
                    <td><a><%=rec.nick%></a></td>
                    <td><a><%=rec.key%></a></td>
                    
                    <td><a href="/readMsbRoster?rosterid=<%=rec.rosterID%>"><span class="glyphicon glyphicon-open"></span></a></td>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <td><a href="/writeMsbRoster?rosterid=<%=rec.rosterID%>"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a href="/deleteMsbRoster?rosterid=<%=rec.rosterID%>"><span class="glyphicon glyphicon-trash"></span></a></td>
                    <% } %>
                </tr>
                <% } %>
            </table>        
	    <button type="submit" class="btn btn-default"><a href="/newMsbRoster">Add</a></button>
	    <button type="submit" class="btn btn-default">Clear</button>
	    </div>	    
        </div>            
        
	<div class="tab-pane fade" id="msbSession" role="tabpanel" aria-labelledby="msbSession-tab">
            <div style="width:75%">
            <table class="table table-striped">
                <tr class="heading-tr">
                    <th><%=resource.MsbSession.Sessionid.header%></th>
                    <th><%=resource.MsbSession.Subscriber.header%></th>
                    <th><%=resource.MsbSession.Domain.header%></th>
                    <th><%=resource.MsbSession.Ipaddress.header%></th>
                    <th><%=resource.MsbSession.Ipport.header%></th>
                    <th><%=resource.MsbSession.Protocol.header%></th>
                    <th><%=resource.MsbSession.Starttime.header%></th>
                    <th><%=resource.MsbSession.Endtime.header%></th>
                    <th><%=resource.MsbSession.Resource.header%></th>
                    <th><%=resource.MsbSession.Presence.header%></th>
                    <th><%=resource.MsbSession.Status.header%></th>
                                        
                    <th>View</th>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <th>Edit</th>
                    <th>Delete</th>
                    <% } %>
                </tr>
                <% for(let i in record.msbSession){ let rec = record.msbSession[i] %>
                <tr>
                    <td><a><%=rec.sessionId%></a></td>
                    <td><a><%=rec.subscriber%></a></td>
                    <td><a><%=rec.domain%></a></td>
                    <td><a><%=rec.ipAddress%></a></td>
                    <td><a><%=rec.ipPort%></a></td>
                    <td><a><%=rec.protocol%></a></td>
                    <td><a><%=rec.startTime%></a></td>
                    <td><a><%=rec.endTime%></a></td>
                    <td><a><%=rec.resource%></a></td>
                    <td><a><%=rec.presence%></a></td>
                    <td><a><%=rec.status%></a></td>
                    
                    <td><a href="/readMsbSession?sessionid=<%=rec.sessionId%>"><span class="glyphicon glyphicon-open"></span></a></td>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <td><a href="/writeMsbSession?sessionid=<%=rec.sessionId%>"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a href="/deleteMsbSession?sessionid=<%=rec.sessionId%>"><span class="glyphicon glyphicon-trash"></span></a></td>
                    <% } %>
                </tr>
                <% } %>
            </table>        
	    <button type="submit" class="btn btn-default"><a href="/newMsbSession">Add</a></button>
	    <button type="submit" class="btn btn-default">Clear</button>
	    </div>	    
        </div>            
        
	<div class="tab-pane fade" id="msbSubscriberprop" role="tabpanel" aria-labelledby="msbSubscriberprop-tab">
            <div style="width:75%">
            <table class="table table-striped">
                <tr class="heading-tr">
                    <th><%=resource.MsbSubscriberprop.Subscriber.header%></th>
                    <th><%=resource.MsbSubscriberprop.Name.header%></th>
                    <th><%=resource.MsbSubscriberprop.Propvalue.header%></th>
                                        
                    <th>View</th>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <th>Edit</th>
                    <th>Delete</th>
                    <% } %>
                </tr>
                <% for(let i in record.msbSubscriberprop){ let rec = record.msbSubscriberprop[i] %>
                <tr>
                    <td><a><%=rec.subscriber%></a></td>
                    <td><a><%=rec.name%></a></td>
                    <td><a><%=rec.propValue%></a></td>
                    
                    <td><a href="/readMsbSubscriberprop?subscriber=<%=rec.subscriber%>"><span class="glyphicon glyphicon-open"></span></a></td>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <td><a href="/writeMsbSubscriberprop?subscriber=<%=rec.subscriber%>"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a href="/deleteMsbSubscriberprop?subscriber=<%=rec.subscriber%>"><span class="glyphicon glyphicon-trash"></span></a></td>
                    <% } %>
                </tr>
                <% } %>
            </table>        
	    <button type="submit" class="btn btn-default"><a href="/newMsbSubscriberprop">Add</a></button>
	    <button type="submit" class="btn btn-default">Clear</button>
	    </div>	    
        </div>            
        
	<div class="tab-pane fade" id="msbTraffic" role="tabpanel" aria-labelledby="msbTraffic-tab">
            <div style="width:75%">
            <table class="table table-striped">
                <tr class="heading-tr">
                    <th><%=resource.MsbTraffic.Subscriber.header%></th>
                    <th><%=resource.MsbTraffic.Account.header%></th>
                    <th><%=resource.MsbTraffic.From.header%></th>
                    <th><%=resource.MsbTraffic.To.header%></th>
                    <th><%=resource.MsbTraffic.Counter.header%></th>
                    <th><%=resource.MsbTraffic.Type.header%></th>
                    <th><%=resource.MsbTraffic.LastUpdate.header%></th>
                    <th><%=resource.MsbTraffic.Status.header%></th>
                                        
                    <th>View</th>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <th>Edit</th>
                    <th>Delete</th>
                    <% } %>
                </tr>
                <% for(let i in record.msbTraffic){ let rec = record.msbTraffic[i] %>
                <tr>
                    <td><a><%=rec.subscriber%></a></td>
                    <td><a><%=rec.account%></a></td>
                    <td><a><%=rec.from%></a></td>
                    <td><a><%=rec.to%></a></td>
                    <td><a><%=rec.counter%></a></td>
                    <td><a><%=rec.type%></a></td>
                    <td><a><%=dateFormat(rec.last_update,'mmm-dd-yyyy h:MM:ss TT')%></a></td>
                    <td><a><%=rec.status%></a></td>
                    
                    <td><a href="/readMsbTraffic?subscriber=<%=rec.subscriber%>"><span class="glyphicon glyphicon-open"></span></a></td>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <td><a href="/writeMsbTraffic?subscriber=<%=rec.subscriber%>"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a href="/deleteMsbTraffic?subscriber=<%=rec.subscriber%>"><span class="glyphicon glyphicon-trash"></span></a></td>
                    <% } %>
                </tr>
                <% } %>
            </table>        
	    <button type="submit" class="btn btn-default"><a href="/newMsbTraffic">Add</a></button>
	    <button type="submit" class="btn btn-default">Clear</button>
	    </div>	    
        </div>            
        
	<div class="tab-pane fade" id="msbVcard" role="tabpanel" aria-labelledby="msbVcard-tab">
            <div style="width:75%">
            <table class="table table-striped">
                <tr class="heading-tr">
                    <th><%=resource.MsbVcard.Subscriber.header%></th>
                    <th><%=resource.MsbVcard.Vcard.header%></th>
                                        
                    <th>View</th>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <th>Edit</th>
                    <th>Delete</th>
                    <% } %>
                </tr>
                <% for(let i in record.msbVcard){ let rec = record.msbVcard[i] %>
                <tr>
                    <td><a><%=rec.subscriber%></a></td>
                    <td><a><%=rec.vcard%></a></td>
                    
                    <td><a href="/readMsbVcard?subscriber=<%=rec.subscriber%>"><span class="glyphicon glyphicon-open"></span></a></td>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <td><a href="/writeMsbVcard?subscriber=<%=rec.subscriber%>"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a href="/deleteMsbVcard?subscriber=<%=rec.subscriber%>"><span class="glyphicon glyphicon-trash"></span></a></td>
                    <% } %>
                </tr>
                <% } %>
            </table>        
	    <button type="submit" class="btn btn-default"><a href="/newMsbVcard">Add</a></button>
	    <button type="submit" class="btn btn-default">Clear</button>
	    </div>	    
        </div>            
        
    </div>

</section>
</div>
</div>
<% include footer %>
</body>
</html>
