<!DOCTYPE html>
<html>
<head lang="en">
<% include head %>
</head>
<body>
<% include side-nav %>
<div id="main">
<% include header-nav %>
<div class="container-fluid">
<section id="main-content">

<form class="form-horizontal" action="/searchMsbSubscriber" method="get">    
    <div style="width:50%">
    <h3><%=resource.Title%></h3>
        <input type="hidden" class="form-control" name="rowid" value="0"/>    
        <table class="table table-striped">
            <tr class="heading-tr">
                <th><%=resource.Heading%></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td><%=resource.Subscriber.label%></td>    
                <td><input type="text" class="form-control" name="subscriber"/></td>
                <td>
                    <button type="submit" name="action" value="first" class="btn btn-default">Find</button>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <button type="submit" class="btn btn-default"><a href="/newMsbSubscriber">Add</a></button>
                    <% } %>
                </td>
            </tr>
        </table>    
    </div>
    
    <div style="width:75%">
        <table class="table table-striped">
            <tr class="heading-tr">
                <th><%=resource.MsbSubscriber.Subscriber.header%></th>
                <!--th><%=resource.MsbSubscriber.Password.header%></th-->
                <th><%=resource.MsbSubscriber.Name.header%></th>
                <th><%=resource.MsbSubscriber.Email.header%></th>
                <th><%=resource.MsbSubscriber.Creationdate.header%></th>
                <th><%=resource.MsbSubscriber.Modificationdate.header%></th>
                <th><%=resource.MsbSubscriber.Subtype.header%></th>
                <th><%=resource.MsbSubscriber.Account.header%></th>
                <!--th><%=resource.MsbSubscriber.Userkey.header%></th-->
                
            	<th>View</th>
                <% if(session.user_acl=='ROLE_ADMIN') { %>
                <th>Edit</th>
                <th>Delete</th>
                <% } %>
            </tr>
            <% for(var i in records){let row = records[i]; %>			            
            <tr>
                <td><a><%=row.subscriber%></a></td>
                <!--td><a><%=row.password%></a></td-->
                <td><a><%=row.name%></a></td>
                <td><a><%=row.email%></a></td>
                <td><a><%=row.creationDate%></a></td>
                <td><a><%=row.modificationDate%></a></td>
                <td><a><%=row.subtype%></a></td>
                <td><a><%=row.account%></a></td>
                <!--td><a><%=row.userKey%></a></td-->
                
                <td><a href="/readMsbSubscriber?subscriber=<%=row.subscriber%>"><span class="glyphicon glyphicon-open"></span></a></td>
                <% if(session.user_acl=='ROLE_ADMIN') { %>
                <td><a href="/writeMsbSubscriber?subscriber=<%=row.subscriber%>"><span class="glyphicon glyphicon-edit"></span></a></td>
                <td><a href="/deleteMsbSubscriber?subscriber=<%=row.subscriber%>"><span class="glyphicon glyphicon-trash"></span></a></td>
                <% } %>
            </tr>
            <% } %>            
        </table>
        
        <div class="table-pagination">
           <ul class="pagination">
                 <li><button type="submit" name="action" value="first" class="btn btn-default">First</button></li>
                 <li><button type="submit" name="action" value="previous" class="btn btn-default">Previous</button></li>
                 <li><button type="submit" name="action" value="next" class="btn btn-default">Next</button></li>
                 <li><button type="submit" name="action" value="last" class="btn btn-default">Last</button></li>
           </ul>	        
        </div>
    </div>
</form>                

</section>
</div>
</div>
<% include footer %>
</body>
</html>
